<%- include("partials/header") -%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="composeTitle">Title</label>
            <input type="text" class="form-control" id="composeTitle" name="composeTitle">
        </div>
        <div class="form-group">
            <label for="composeText">Post</label>
            <textarea class="form-control" id="composeText" name="composeText" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Publish</button>
    </form>

    <%- include("partials/footer") -%>